<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="page-header">
      <h2>お問い合わせ画面
        <small>Contact form</small>
      </h2>
    </div>

    <%= render 'form', contact: @contact %>

  </div>
</div>
